In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.isnull().sum()

CustomerId         0
CredRate           0
Geography          0
Gender             4
Age                6
Tenure             0
Balance            0
Prod Number        0
HasCrCard          0
ActMem             0
EstimatedSalary    4
Exited             0
dtype: int64

In [4]:
df['EstimatedSalary'].fillna((df['EstimatedSalary'].mean()), inplace=True)
df['Age'].fildf['Age'].mode()), inplace=True)
df['Gender'].fillna((df['Gender'].mode()), inplace=True)

In [5]:
df.isnull().sum()

CustomerId         0
CredRate           0
Geography          0
Gender             4
Age                6
Tenure             0
Balance            0
Prod Number        0
HasCrCard          0
ActMem             0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df['salary'] = df['salary'].fillna(df['salary'].mode()[0])